/* --------------------------------------------------------
Style Sheet fuer Praxis - Alessia Schinardi Website

version: 1.1
last modified: 27.03.2019 by Erdem Bileg
author: Rafisa Informatik GmbH - Erdem Bileg
website: https://www.praxis-alessia-schinardi.ch/
----------------------------------------------------------*/

/* CSS Variables */

:root {
    --primary: #ddd; 
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --row: #4c4b4b;
    --btt-icon-size: 1.55em;
    --space-md: 100px;
    --space-xs: 20px;
    --zindex-fixed-element: 100;
    --color-contrast-higher: #3f3a5b;
    --color-hover-higher: #666975;
    --color-bg: #fff;
}
 
/* -----------------------------------------------------------
Inhalt / Contents:
=CSS Variables :root
=html, body
=Wrapper
=Titles
=
=Lists
=Navigation
=Comments
=Aside
=Footer
------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: var(--dark);
    background-image: url(background/Portrait.jpg);
    background-blend-mode: hard-light;
    margin: 0px auto;
    line-height: 1.4;
}

.wrapper {
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    background-color: aliceblue;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.info-title {
    background-color: #555;
    padding-left: 15px;
    color: #ffffff;
    font-size: 20px;
}

/* Top-Container */

.top-container {
    display: grid;
}

nav.main-nav ul {
    display: inline-block;
    float: right;
}
nav.main-nav ul li {
    display: inline-block;
}

nav.main-nav ul li a {
    text-decoration: none;
    margin-right: 20px;
    color: #999999;
}
nav.main-nav ul li a.active {
    color: #333333;
}

.searchfield {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 10px;
    grid-area: searchfield;
}

.main-nav {
    box-sizing: border-box;
    position: relative;
    height: 100px;
}
.main-nav .logo img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.logo {
    grid-area: top-logo;
}

.main-nav ul {
    padding: 0px;
    margin: 0px;
    margin-top: 70px;
    grid-area: nav-menu;
}

.main-nav button {
    background: none;
    border: none;
}
.main-nav input {
    border: none;
}



/* Back to Top Button */

.back-to-top {
  position: fixed;
  right: var(--space-md);
  bottom: var(--space-md);
  padding: var(--space-xs);
  z-index: var(--zindex-fixed-element);
  border-radius: 0.35em;
  background-color: var(--color-contrast-higher);
}

.back-to-top:hover {
    background-color: var(--color-hover-higher);
}

.back-to-top .icon {
    display: block;
    color: var(--color-bg);
    width: var(--btt-icon-size);
    height: var(--btt-icon-size);
}

.js .back-to-top {
  visibility: hidden;
  opacity: 0;
}

.js .back-to-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
}

/* Bildergalerie - Infobox */


.portfolio {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.portfolio-alb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.portfolio-alb img {
    width: 100%;
    height: 400px;
    vertical-align: middle;
}


.portfolio img {
    width: 100%;
    height: 300px;
    vertical-align: middle;
}

.portfolio-item {
    background: white;
    padding: 3px;
    box-shadow: 0px -1px 2px 2px rgba(184,184,184,1);
    border: 2px solid #666666;
    margin: 10px;
    margin-bottom: auto;
}

.portfolio-desc {
    padding: 1.5em;
}

.portfolio-title {
    font-size: 1.5em;
    margin-top: 0;
}

.portfolio-lightbox {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 3px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    align-items: center;
    justify-content: center;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 500ms;
    
}

.portfolio-lightbox img {
    vertical-align: middle;
    max-height: 700px;
}

.portfolio-lightbox:target {
    transform: scale(1, 1);
    transform-origin: left;
}

.portfolio-lightbox-content {
    width: 60%;
    background: black;
    padding: 1em;
    position: relative;
}

.close {
    position: absolute;
    width: 3em;
    height: 3em;
    background: red;
    top: -1em;
    right: -1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover, .close:active {
    background-color: #ff8775;
}

.close::after {
    content: 'x';
    color: white;
    font-weight: 700;
    
}

/* Buttons */

.button {
    border: 2px solid #000000;
    font-family: Tahoma, Geneva, sans-serif;
    bottom: 0;
    display: block;
}

.button:link, .button:visited {
    background-color: #5cb272;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover, .button:active {
    background-color: red;
    color: white;
}

.web-btn {
    border: 2px solid #000000;
    font-family: Tahoma, Geneva, sans-serif;
}

.web-btn:link, .web-btn:visited {
    background-color: #2339fc;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

.web-btn:hover, .web-btn:active {
    background-color: red;
}


/* Slideshow */

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    margin-left: 30px;
    left: 0;
}

#arrow-right {
    border-width: 30px 40px 30px;
    border-color: transparent transparent transparent #fff;
    margin-right: 30px;
    right: 0;
}

/* Title Pic marginpadding */

.article-one .title-pic {
    width: 1000px;
}

/* Info Section */

.info-gridtemplate {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 2fr;
    padding: 3rem;
}

.info-container {
    background: var(--primary);
    display: grid;
    grid-gap: 30px;
    padding: 3rem;
}

/* Abstand hr */

hr {
    display: block;
}

/* Blockquotes */

.blockquotes {
    position: absolute;
    margin-top: -160px;
    margin-left: -240px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-style: italic;
    line-height: 30px;
}

/* Article-One */

.article-one {
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--primary);
}

/* Top Box */

.top-box {
    background: var(--light);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.top-box .price {
    font-size: 2.4rem;   
}

/* Weblinks-Content */

.freetextarea a {
    text-decoration-color: red;
    color: rgb(9, 131, 131);
}

.freetextarea a:hover {
    color: orange;
}

.freetextarea a:active {
    color: mediumvioletred;
    background-color: white;
}

.info-container a {
    text-decoration-color: red;
    color: darkcyan;
}

.info-containers a:active {
    color: mediumvioletred;
    background-color: white;
}

/* Searchfield */

.top-container .searchfield {
    float: right;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.searchfield {
    margin: 70px auto;
}


.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

.form-wrapper-2 {
	width: 200px;
	padding: 10px;
	background: #555;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.form-wrapper-2 input {
	width: 150px;
	height: 15px;
	padding: 5px 5px;
	float: left;
	font: bold 15px 'Raleway', sans-serif;
	border: 0;
	background: #eee;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.form-wrapper-2 input:focus {
	outline: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper-2 input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper-2 input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper-2 input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}

.form-wrapper-2 button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
    padding: 0;
    cursor: pointer;
	height: 25px;
	width: 40px;
	color: #ffffff;
	text-transform: uppercase;
	background: #5cb272;
	-moz-border-radius: 0 1px 1px 0;
	-webkit-border-radius: 0 1px 1px 0;
	border-radius: 0 4px 2px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.form-wrapper-2 button:hover {
	background: #FA8807;
}


.form-wrapper-2 button:before {
	content: '';
	position: absolute;
    border-width: 6px 6px 6px 0px;
	border-style: solid solid solid none;
	border-color: transparent #5cb272 transparent;
	top: 8px;
	left: -4px;
}

.form-wrapper-2 button:hover:before {
	border-right-color: #FA8807;
}

.form-wrapper-2 button:focus:before {
	border-right-color: #c42f2f;
}

.form-wrapper-2 button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* PDF-Section */

.pdf-section {
    max-width: 300px;
    display: grid;
    grid-template-areas: "logo-pdf pdf-title"
                        "logo-pdf pdf-link";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.pdf-section > div {
    border: 1px solid #888;
}

.logo-pdf {
    grid-area: logo-pdf;
    padding-left: 20px;
    padding-top: 5px;
}

.logo-pdf .fa-file-pdf {
    color: #d62613;
}

.pdf-title {
    grid-area: pdf-title;
    padding-left: 5px;
}

.pdf-link {
    grid-area: pdf-link;
    padding: 3px;
}


/* Box (bei About.html) */

.box {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "logo-box box-title"
    "logo-box box-content"
    "logo-box box-content";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.logo-box {
    grid-area: logo-box;
    margin: auto;
    height: 80%;
}
.box-title {
    grid-area: box-title;
    padding-left: 20px;
    border: 2px solid #888;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 19px;
}
.box-content {
    grid-area: box-content;
    border: 2px solid #888;
    font-family: Tahoma, Geneva, sans-serif;
}
.box-padding {
  grid-area: box-padding;
}

/* Quellen */

.quellen {
    
}

/* Footer */

footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    bottom: 0;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

.footer-distributed .footer-waytitle {
    color: #ff653a;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
    font-size: 14px;
}

.footer-distributed .footer-links span{
	color:  #9ccce2;
    font-family: inherit;
    font-size: 18px;
}


.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 25%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
    color: #ebff59;
}

.footer-distributed .footer-center i.fa-phone {
    color: #4fbef2;
}

.footer-distributed .footer-center i.fa-map-marker {
    color: #ff1e4f;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display: block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-icons{
	margin-top: 20px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 35%;
}

.fas fa-map-marked-alt fa-lg {
    color: aqua;
}

.footer-title1 {
    padding: 5px 5px 15px 5px;
    color: #fc7058;
    font-size: 20px;
}

/* Media Query */

@media(max-width: 700px) {
    .top-container {
        display: grid;
        grid-template-areas: 
            'top-logo searchfield'
            'nav-menu nav-menu';
    }
    
    .showcase h1 {
        font-size: 2.5rem;
    }
    
    .main-nav ul {
        grid-template-columns: 1fr;
        
    }
    
    .showmenu {
        display: block;
        color: #fff;
    }
    
    .info {
        grid-template-columns: 1fr;
    }
    
    .info .btn {
        display: block;
        text-align: center;
    }
    
    .footer {
        
    }
    
}

@media(max-width: 500px) {
    .top-container {
        grid-template-areas: 
            'showcase'
            'top-box-a'
            'top-box-b';
    }
    
    
    
}

